.main{
    
    height: 300px;

}
.up{
    font-size: 16px;
}
.floor{
    width: 2px;
    /* Here write properties for floor*/
}
.floorLine{
    height: 4px;
    background-color: grey;
}
.floorDiv{
    height: 144.44px;
}
/*.floorDiv-1{
    height: 100px;
}*/
.lifts{
    width: 40px;
    height: 70px;
    display: flexbox;
    background-color: green;
    margin: 20px;
    /* Here decribe about lifts*/
}
text{
    margin: 2px;
}

.button{
    width: 10px;
}

.lift-0{
transition: transform;
transition-timing-function: linear;
}

.lift-container{
    display: flex;
    flex-direction: row;
}
/* define design for all small component and animation*/

hr.floorLine{
    position: relative;
    top: 100px;
}

hr.floorLine-0{
    position: relative;
    top:0px;
}

.lift-container{
    position: relative;
    left: 150px
}
.floorDiv-0{
 display: inline-block; /* Solve problem of lift size cutting if the no. of lifts are more*/
}