.main{
    
    height: 300px;

}
.up{
    font-size: 16px;
}
.floor{
    width: 2px;
    /* Here write properties for floor*/
}
.floorline{
    height: 2px;
    background-color: grey;
}
.groundfloor{
    display: flexbox;
}
.lifts{
    width: 20px;
    height: 20px;
    display: flexbox;
    background-color: green;
    margin: 20px;
    /* Here decribe about lifts*/
}

/* define design for all small component and animation*/